*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow-x: hidden;
}

/* h1{
  font-family: 'Kdam Thmor Pro', sans-serif;
} */
span{
  color: rgb(147, 149, 150);
}
a{
  text-decoration: none;
  color: white;
  margin-bottom: 10px;
}